<div class="detail-container">
    <div class="row">
        <ng-template [ngIf]="product" [ngIfElse]="empty">
            <div class="column">
                <img class="img" src="{{ product.url }}">
            </div>
            <div class="column">
                <div class="detail-item" style="align-items: start;">
                    <h1>{{ product.name }}</h1>
                    <br>
                    {{ product.price }}
                    <br>
                    {{product.description}}
                    <br>
                    <app-create-cart-item [item]="product"></app-create-cart-item>
                    <br>
                    <a class="back-link" routerLink="/"><i class="bi bi-arrow-left"></i> Back to product list</a>
                </div>
            </div>
        </ng-template>
        <ng-template #empty>
            <div class="column">
                <h1>Product not available</h1>
            </div>
        </ng-template>
    </div>
</div>