.column {
    width: 50%;
}

img {
    width: 100px;
    border-radius: 10px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.number-input {
    width: 80px;
    text-align: center;
}